@import "./reset.scss";
@import "./abstract/functions";
@import "./abstract/mixins";
@import "./abstract/variables";

@import "./base/base";
@import "./base/typography";
@import "./base/utilities";
@import "./base/animations";

@import "./layout/header";
@import "./layout/footer";


@import "./pages/home";


.visit__text{font-size: 18px;font-weight: 300;line-height: 21px;max-width: 410px;display: inline-block;}.visit__input-container{ width: 100%;}.visit__input-container>select{width: 100%;height: 50px;background-color: transparent;border: none;border-bottom: 1px solid black;font-size: 18px;color: rgba(226, 86, 120, 1);}.visit__input:first-child{margin-bottom:40px;}.visit__input-container>select:focus{border:none;}@media only screen and (max-width:750px){.visit__container>.wpcf7{width: 55%;}.visit__img_{align-self: baseline;}}@media only screen and (max-width:450px){.visit__title{line-height: 28px;font-weight: 500;display: inline-block;}.visit__container>.wpcf7{width: 100%;}.popup-form{padding: 20px;width: 320px;}.popup-form__radio>span>label{margin-bottom: 0;}.popup-form__subtitle{font-size:14px;margin-bottom: 10px;}.popup-form__title{font-size: 22px;font-weight: 600;margin-bottom: 10px;}.popup-form__checkbox>.wpcf7-list-item>label{margin-bottom: 0;}.privacy-text{line-height: 12px}}.comfort{overflow-x: hidden;}.top-nav {min-height: auto;}.popup-form__close{z-index: 99999;}.pricing__info>span{font-size: 25px; font-weight: 300; line-height: 30px;}.popup-form__question{margin-bottom: 12px;}.popup-form{height:100%; overflow-y: auto; max-height: 850px;}.only-mobile{display:none;}@media only screen and (max-width:450px){.only-mobile{display:initial;}.main-screen__title{align-self:baseline;}}.footer-nav ul a, .footer-list a{font-size: .8rem;}.footer__main-row{font-size: .8rem;line-height: 1.2rem; min-height: auto;}.footer__logo-wrapper a{width: 6rem;height: 7rem;}.footer__logo-wrapper a{display: inline-block}.footer-nav ul li{margin-bottom: 0;}.footer__p{font-size: 1rem;line-height: 1.8rem;}.small-address__name-current{margin-right: 8px;}